body {
    background: #CCCCCC;
}
#banner {
    width: 700px;
    margin-left: 310px;
}
.principal{
    background: #CCCCCC
}
.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}
p {
    text-align: center;
}

#missao {
    font-size: 20px
}

em strong {
    color: #007899;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
}
h2{
    text-align: center;
}
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}
.imagembeneficios {
    width: 50%;
}
